h2 {
    color: white;
    font-size: 36px;
    font-weight: 300;
    font-family: Raleway, sans-serif;
} 

h2.black {
    color: rgb(59, 51, 47);
}

h3 {
    color: rgb(59, 51, 47);
    font-size: 24px;
    font-weight: 300;
    font-family: Raleway, sans-serif;
}

li {
    color: white;
    font-size: 18px;    
    font-weight: 300;
    font-family: Roboto, sans-serif;
}

ul.black > li {
    color: rgb(59, 51, 47);
}

p {
    color: #323335;
    font-size: 18px;    
    font-weight: 300;
    font-family: Roboto, sans-serif;
}